@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}


body{
    width: 100%;
}

/* Header start  */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #a2c7b7;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header img{
    width: 100%;
    height: 60px;
}

#search{
    width: 40%;
    height: 10%;
    background-color: white;
}

#search input{
    height: 21px;
    width: 90%;
    padding: 19px;
    margin-right: 13px;
    outline: none;
    border: none;
}

#search i{
    cursor: pointer;
    margin-top: 11px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s;
}


#mobile{
    display: none;
}

#close{
    display: none;
}

.login{
    padding: 9px 20px;
    background-color: white;
    color: #a2c7b7;
}


.add_item{
    padding: 9px 20px;
    background-color: #fff;
    color: #a2c7b7;
}


#product_option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #c5f0dd;
    padding: 0 70px;
}

#product_option .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    border-radius: 4px;
    margin: 15px 0;
}

#product_option .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#product_option .fe-box img{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 4px;
}

#product_option .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#product_option .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}

#product_option .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}

#product_option .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}

#product_option .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}

/* Products */

#product1{
    text-align: center;
}

.pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}

#product1 .pro img{
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#pagination{
    text-align: center;
    padding: 5px 80px;
}

#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

/* Electronic items */

#electronic-deals{
    padding: 60px 0;
    margin-top: 60px;
    background-color: #c5f0dd;
}

#electronic-deals h1{
    text-align: center;
    color: #7f7f93;
}

#electronic-deals h1 span{
    color: #088178;
}

#electronic-deals .pro-container{
    display: flex;
    flex-direction: row;
    width: 2200px;
}

#electronic-deals .electronics{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border-radius: 25px;

}

#electronic-deals .electronics img{
    width: 100%;
    border-radius: 5px;
    max-height: auto;
    height: 200px;
}

#electronic-deals .electronics .des{
    text-align: center;
    padding: 20px;
}

#electronic-deals .electronics .des h3{
    color: #088178;
}

.swiper{
    width: 85%;
}

.swiper-button-next .swiper-button-prev{
    color: #fff;
}

/* Information */

#info{
    width: 100%;
    display: flex;
    background-color: #a2c7b7;
}

#info img{
    width: 60%;
    margin-right: 24px;
    border-radius: 25px;
}

#info .adv{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 34px;
}

#info .adv h2{
    color: white;
    padding-bottom: 24px;
}

#info .adv h3{
    color: #222;
}

/* Footer */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
    height: 60px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover, footer a:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}